.Libro {
    width: 100%;
    padding: 5%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}


.Son{
    float: left;
    width: 50%;
    padding: 5px;
    display: block;
    box-sizing: border-box;
}

.Button *{
    margin: 10px;
}
