.UserLogin{
    width: 60%;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.UserLogin div{
     width: 40%;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
 }

.UserLogin input{
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.UserLogin button{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}